{% load atoms %}

<form method="post" class="organism-form-heading-button">
  {% csrf_token %}
  <input type="hidden" name="form_id" value="abort">
  <input type="hidden" name="application_id" value="{{ application_id }}">
  {% atomButton text="Antrag abbrechen" variant="danger" disabled=abort_disabled %}
</form>

{% if last_page %}
  <form method="post" class="organism-form-heading-button">
    {% csrf_token %}
    <input type="hidden" name="form_id" value="back">
    <input type="hidden" name="application_id" value="{{ application_id }}">
    <input type="hidden" name="last_page" value="{{ last_page }}">
    {% atomButton text="Zurück" variant="secondary" disabled=back_disabled %}
  </form>
{% endif %}

{% atomHeading text=text %}